# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# fCOPSS specific files
*.so.*
*.conf
*.bak
*.save
src/rendezvous/rendezvous
src/router/router
src/rtctrl/rtctrl
src/publisher/publish
src/subscriber/subscribe
